<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>WebWeatherDebug</servlet-name>
        <servlet-class>WebWeatherDebug</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebWeatherData</servlet-name>
        <servlet-class>WebWeatherData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebWeatherRandomise</servlet-name>
        <servlet-class>WebWeatherRandomise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebAddToFav</servlet-name>
        <servlet-class>WebAddToFav</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebWeatherDebug</servlet-name>
        <url-pattern>/WebWeatherDebug</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebWeatherData</servlet-name>
        <url-pattern>/WebWeatherData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebWeatherRandomise</servlet-name>
        <url-pattern>/WebWeatherRandomise</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>WebWeatherFav</servlet-name>
        <jsp-file>/WebWeatherFav.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebWeatherFav</servlet-name>
        <url-pattern>/WebWeatherFav*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebAddToFav</servlet-name>
        <url-pattern>/WebAddToFav</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MobileWeatherAll</servlet-name>
        <jsp-file>/MobileWeatherAll.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MobileWeatherAll</servlet-name>
        <url-pattern>/MobileWeatherAll</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MobileWeatherData</servlet-name>
        <jsp-file>/MobileWeatherData.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>MobileWeatherData</servlet-name>
        <url-pattern>/MobileWeatherData</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
