<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>WebWeatherDebug</servlet-name>
        <servlet-class>WebWeatherDebug</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebWeatherData</servlet-name>
        <servlet-class>WebWeatherData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebWeatherRandomise</servlet-name>
        <servlet-class>WebWeatherRandomise</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebWeatherDebug</servlet-name>
        <url-pattern>/WebWeatherDebug</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebWeatherData</servlet-name>
        <url-pattern>/WebWeatherData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebWeatherRandomise</servlet-name>
        <url-pattern>/WebWeatherRandomise</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
